{% extends 'index.html' %}

{% block title %}Пивной автомат{% endblock %}

{% block content %}

<H1 class="tytle">Автомат пивовара</H1>

<div class="container">
    <div class="birka">
    {% for b in birka %}
     <img src="{{b.birka_piva}}">
    {% endfor %}
</div>

<div class="marka">
    {% for m in marka %}
     <h3>{{m.marka_piva}}</h3>
    {% endfor %}
</div>



<div class="cena">
    {% for c in cena %}
     <h3>{{c.cena_piva}}</h3>
    {% endfor %}
</div>


<div class="col">
    {% for cl in col %}
     <h3>{{cl.kol_piva}}</h3>
    {% endfor %}
</div>

 <div class="batton_kupit">
    
     <h3>Купить</h3>

  </div>
</div>

<div class="container_2">

    <div class="entr">
     <form action="{% url 'index'%}" method="post">
         {% csrf_token %}
         {{ form.as_p }}
        </form>
    </div>

<div class="balans">
  
   <h3>{{sum}}</h3>
  
</div>



<div class="sdacha">
    <h3>Сдача:</h3>
</div>

<h3>{{error}}</h3>

</div>

{% endblock %}